global:
  scrape_interval: 5s
  evaluation_interval: 15s

alerting:
  alertmanagers:
    - static_configs:
        - targets:
          # - alertmanager:9093

rule_files:
  # - "first_rules.yml"
  # - "second_rules.yml"

scrape_configs:
  - job_name: "prometheus"

    static_configs:
      - targets: ["localhost:9090"]
        labels:
          app: "prometheus"
    
  - job_name: 'llm_monitor_app'
    scrape_interval: 5s

    static_configs:
      - targets: ['localhost:8000', 'localhost:8004'] 
        labels:
          application: 'llm-service'
